/* Other rules */

body {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  margin-top: 0;
}
.empty-fav {
  display: flex;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 90vh;
}
.empty-fav div {
  width: 100%;
  text-align: center;
}
.loader img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: -150px;
  left: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed171e;
}
.header-none {
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/da734b28921021.55d95297d71f4.gif")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.logo-header img {
  width: 100px;
}
.menu {
  display: flex;
}
.menu ul {
  display: flex;
}
.menu ul li {
  margin-right: 20px;
  list-style: none;
  color: white;
  font-size: 18px;
}
.page {
  margin: 0 10px;
}
.loading-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
/* SEARCH BAR */
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.searchBar span {
  margin-right: 10px;
}
.searchInput {
  float: right;
  background-color: #ed171e;
  color: white;
  padding: 6px 10px;
  width: 150px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-size: 1em;
  font-weight: bold;
  border-bottom: black solid 2px;
  transition: 0.3s;
  font-family: "Roboto Condensed", sans-serif;
}
.searchInput::placeholder {
  color: white;
  font-size: 1em;
  font-weight: 700;
  /* transition: 0.2s; */
}
.searchInput:focus {
  width: 400px;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  border-bottom: black solid 2px;
  outline: none;
}
.container {
  margin: 20px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* CARD */
.card {
  width: 220px;
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 0 0 10px 0;
}

.card img {
  width: 100%;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  margin-top: 0;
  background-color: black;
  height: 100%;
  color: White;
  padding: 20px 20px;
}
.card-body p {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fav-star {
  position: absolute;
  margin: 10px;
  color: gold;
}

/* PAGINATION */
.pagination {
  text-align: center;
  margin-top: 20px;
}
.pagButton {
  margin: 0 5px;
}
/* CHARACTER'S COMICS */
.char-comics {
  margin-top: 20px;
  text-align: center;
}
.char-comics img {
  width: 200px;
}
.char-comics-list {
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  margin: 0 auto;
}
.char-comic-card {
  margin: 0 auto;
}
.char-comic-card p {
  width: 100px;
}
.comic-img img {
  width: 200px;
}
